@model IEnumerable<string>

<a class="navbar-brand" asp-area="" asp-controller="Car" asp-action="List">KlioCar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="header-nav navbar-nav col">
        @foreach (string category in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark @(category == ViewBag.SelectedCategory ? "" : "" )" asp-action="List" asp-controller="Car" asp-route-category="@category" asp-route-productPage="1">@category</a>
            </li>
        }
    </ul>
</div>

