@model Car

@{ 
    ViewBag.Title = "Upload Image";
    Layout = "_AdminLayout";
}

<h1>Create</h1>

<h4>ImageModel</h4>

<hr />

<form method="post" asp-controller="Admin" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label>Picture:</label>
        <div class="custom-file">
            <input class="form-control custom-file-input" type="file" name="ImageFile" />
            <label class="custom-file-label">Browse...</label>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Upload</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        })
    });
</script>

