@model Car
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 400px;
        width: 700px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<h1>Details</h1>

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Model
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>

    <form asp-action="Details" asp-controller="Car" method="post">
        <img src="@("~/Upload/Images/" + Model.ImageName)" asp-append-version="true" width="500px" height="300px" />
        <span class="card-text p-1">
            @Model.Engine
        </span>
    </form>
</div>

<div id="map"></div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: { lat: 53.893009, lng: 27.567444 }
        });

        setMarkers(map);
    }

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.
    var beaches = [
        [54.011131, 27.687063],
        [53.914585, 27.58956],
        [53.881813, 27.483816],
        [53.872908, 27.602606],
        [53.862786, 27.520208]
    ];

    function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
            url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(20, 32),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < beaches.length; i++) {
            var beach = beaches[i];
            var marker = new google.maps.Marker({
                position: { lat: beach[0], lng: beach[1] },
                map: map,
                icon: image,
                shape: shape,
                title: beach[0],
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOm-MFAm0zWpQXs5cG2EZm7UePh7Gllw0&callback=initMap"
        type="text/javascript"></script>
<div style="margin-top:15px;">
    <a asp-action="List" asp-controller="Car" class="btn btn-success btn-lg" style="float:left">Back</a>
    <form asp-action="ChatList" asp-controller="Car" method="post">
        <div style="margin-left:10px;">
            <input type="hidden" asp-for="CarID" />
            <button type="submit" style="margin-left:10px;" class="btn btn-outline-success btn-lg" title="ChatList">Chat</button>
        </div>
    </form>

</div>

