<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 style="color: red">Error <span style="color:red">@ViewBag.Code</span></h1>
        <a class="lead" asp-area="" asp-controller="Car" asp-action="List">Click here to go to the home page</a>
    </div>
</div>