@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastKlioCAR</title>
    <link rel="stylesheet" asp-href-include="~/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="login">
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Log In</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Login" asp-controller="Account" method="post">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input asp-for="Name" class="form-control" />
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input asp-for="Password" class="form-control" />

                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </div>
                            </form>

                            <h4>External login</h4>
                            <hr />
                            <form method="post" asp-action="ExternalLogin" asp-controller="Account">
                                <div>
                                    <button type="submit" class="btn btn-primary"
                                            name="provider" value="Google"
                                            title="Login with Google">
                                        Google
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Don't have an account? <a href="/Admin/CreateUser">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
